<h1>About</h1>
<h4>I am a Front End developer, specializing in HTML5, CSS3, JS, and React. I am able to skilfully analyse issues and
    provide accurate solutions. I am constantly working towards improving my skills as a specialist. Ensuring consistent
    and reliable results in my work is a top priority, and I am always dedicated to achieving them.</h4>