<h1>Contacts</h1>
<h3><a href="mailto: vik.shevchenko1@gmail.com">vik.shevchenko1@gmail.com</a></h3>
<h3><a href="tel:+380955314768">(095)531-47-68</a></h3>
<h3><a href="https://github.com/vikShevchenko" target="_blank" rel="noreferrer noopener">github.com/vikShevchenko</a>
</h3>